.App{
    
   
    width: 382px;  
    overflow: hidden;  
        margin: auto;  

        padding: 12px;  
        background: rgb(253, 255, 255);  
        border-radius: 15px ;
       
        position: relative;
        top: 20px;
        bottom: 20px;
           
            
  
  
  
}