.App{
    
   
  width: 382px;  
    overflow:hidden;  
        margin: auto;  

        padding: 12px;  
        background: rgb(250, 250, 250);  
        border-radius: 15px ;
       
        position: relative;
        top: 20px;
        bottom: 20px;
        left:150px;
    }
.pic {
    position:relative;
    top:50px;
    left:100px;
    
}
.header{
  
}